body {
    padding-top: 70px;
}

#currency-list {
    margin-bottom: 10px;
    text-align: right;
}

#currency-table thead th {
    background-color: #444;
    color: #efefef;
    text-transform: uppercase;
}

#currency-table tfoot tr {
    background-color: #eee;
    font-weight: bold;
}

.number::before {
    content: "$";
}

.loss {
    color: red;
}
.loss .number::before {
    content: "($";
}
.loss .number::after {
    content: ")";
}

@media only screen and (max-width: 800px) {
	/*#currency-table,
	#currency-table thead,
	#currency-table tbody,
	#currency-table th,
	#currency-table td,
	#currency-table tr {
		display: block;
	}

	#currency-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#currency-table tr { border: 1px solid #ccc; }

	#currency-table td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#currency-table td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	#currency-table td:before { content: attr(data-title); }*/
}
